body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
    margin-top: -5rem;
}